.jumbotron {
  /* background-color: #f08080 !important; */
  background-color: rgba(233, 236, 239, 0.7) !important;
  /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
}

.btn {
  border-radius: 0;
  width: 100%;
  font-size: 15px;
  background-color: #f08080;
  color: #fff;
}

.btn:hover {
  background-color: #a85959 !important;
  color: #fff !important;
}

#pheader {
  color: white;
  font-size: 40px;
  text-align: left;
  background-color: #f08080;
  padding: 7%;
  font-family: Optima, sans-serif;
}

#rheader {
  background-color: #f08080;
  font-family: Bookman, URW Bookman L, serif;
  padding: 5%;
  font-size: 30px;
  text-align: left;
  color: white;
  margin: 30px;
}
