.main{
  align-items: center;
  text-align: center;
  padding: 40px;
}

p{
  font-size: 20px;
}

.text{
  margin: 50px;
}

header{
  height: 600px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.514)), url("https://i.pinimg.com/originals/79/81/45/798145cdf0b0e0d77a955d0131412caf.jpg");
  background-size: cover;
  background-position:center;
  position: relative;
}

.header{
  color: white;
  position: relative;
  text-align: center;
}

.navbar{
  width: 100%;
}

.links{
  text-align: center;
  padding: 30px;
}

.links i {
  font-size: 30px;
  padding: 16px 10px;
  color: white;
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 40%;
}
.linksText{
  margin-bottom: 0px;;
}

#text {
	text-align: center;
}


/* footer */
footer{
  color: white;
  padding: 30px;
  background-color: rgb(88, 88, 88);
  text-align:center;
}
.footer i{
  padding: 10px;
}
.footerI{
  font-size: 30px;
}
.footer a{
  font-size: 40px;
}
.footer-item span{
  vertical-align: middle;
}
.fa-graduation-cap{
  font-size: 30px;
}
.fa-dice{
  font-size: 50px;
}

.random{
  padding: 20px;
  padding-bottom: 50px;
  height:100%;
}

.about{
  text-align: center;
  padding: 15px;
}
.store{
  padding: 20px;
  text-align: center;
}
.store img{
  height: 200px;
}
.store .col-md-4{
  padding: 10px;
}